.aira-about{
  padding:120px 8%;
  text-align:center;
}

.about-hero h1{
  font-size:48px;
  letter-spacing:.14em;
  font-weight:400;
}

.about-hero p{
  margin-top:16px;
  color:#777;
}

.about-story{
  max-width:700px;
  margin:80px auto;
  color:#666;
  line-height:1.9;
}

.about-quote{
  font-size:20px;
  letter-spacing:.12em;
  margin:100px 0;
  color:#444;
}

.about-values{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:60px;
  margin-top:80px;
}

.value h3{
  font-size:20px;
  letter-spacing:.12em;
  font-weight:400;
}

.value p{
  margin-top:10px;
  font-size:14px;
  color:#777;
}

.about-jp{
  margin-top:120px;
  font-size:18px;
  letter-spacing:.2em;
}

.about-cta{
  margin-top:80px;
}

.about-cta a{
    color: inherit;
    text-decoration: none;
  letter-spacing:.14em;
  text-decoration:none;
  border-bottom:1px solid #222;
}


/* mobile responsive  */
@media(max-width:768px){
  .about-values{
    grid-template-columns:1fr;
  }

  .about-hero h1{
    font-size:32px;
  }
}
