.aira-contact{
  padding:160px 8%;
}

.contact-layout{
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items:center;
}

.contact-space{
  height:300px;
}
.contact-space img{
        max-width: 100%;
    height: 465px;
    border-radius: 30px;
    display: block;
}

.contact-box{
  background:rgba(255,255,255,.6);
  padding:80px 60px;
  border-radius:28px;
  backdrop-filter:blur(12px);
}

.contact-label{
  font-size:12px;
  letter-spacing:.4em;
  color:#aaa;
}

.contact-box h2{
  margin-top:20px;
  font-size:32px;
  letter-spacing:.14em;
  font-weight:400;
}

.contact-form{
  margin-top:40px;
  display:flex;
  flex-direction:column;
  gap:24px;
}

.contact-form input,
.contact-form textarea{
  border:none;
  border-bottom:1px solid #ccc;
  padding:10px 0;
  background:transparent;
  font-size:14px;
  letter-spacing:.08em;
  outline:none;
}

.contact-form textarea{
  min-height:80px;
  resize:none;
}

.contact-form button{
  margin-top:30px;
  background:none;
  border:none;
  font-size:14px;
  letter-spacing:.14em;
  cursor:pointer;
  align-self:flex-start;
}

.contact-footer-text{
  margin-top:120px;
  text-align:center;
  font-size:16px;
  letter-spacing:.14em;
  color:#666;
}
@media(max-width:768px){

  .contact-layout{
    grid-template-columns:1fr;
  }

  .contact-space{
    display:none;
  }

  .contact-box{
    padding:60px 30px;
  }

}
